/* Container principal pour la page de mot de passe oublié */
.forgot-password-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* Section pour le formulaire de mot de passe oublié */
.forgot-password-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre du formulaire de mot de passe oublié */
.forgot-password-form h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: #8e44ad;
}

/* Conteneur pour les champs d'entrée */
.input-container {
  margin-bottom: 20px;
  width: 100%;
}

/* Labels pour les champs d'entrée */
.input-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #555;
}

/* Champs d'entrée */
.input-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Lien pour retourner à la connexion */
.return-to-login {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.return-to-login a {
  color: #8e44ad;
  text-decoration: none;
  font-size: 0.9rem;
}

.return-to-login a:hover {
  text-decoration: underline;
}

/* Conteneur pour les boutons */
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Bouton d'envoi */
button {
  width: 100%;
  padding: 15px;
  background-color: #8e44ad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

button:hover {
  background-color: #732d91;
}

/* Section pour l'image et le texte */
.forgot-password-image {
  width: 50%;
  background: url('/images/mdp.jpg') center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.forgot-password-image h1 {
  font-size: 3rem;
  font-weight: bold;
}

/* Messages de succès et d'erreur */
.success-message {
  color: green;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.forgot-password-image h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black; /* Change the color to green */
}
